@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Jacquard+12&display=swap');


/*typography*/
.title {
    font-family: "Jacquard 12", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: regular;
    text-align: center;
    font-size: 5.61rem;
    }
.header {
    font-family: "Abhaya Libre", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: regular;
    text-align: left;
    font-size: 2.369rem;
}
.body {
    font-family: "Abhaya Libre", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: regular;
    text-align: left;
    font-size: 1rem;
    
}

.stars{
    color:#EADB7E;
    text-align: center;
}
/* colors */
:root{
--white:#fff;
--yellow: #EADB7E;

--highlight:var(--white);
--stars: var(--yellow);

}


/*grid*/
 .highlight{
    border-radius: 25px;
    background: var(--highlight);
    padding: 1rem;
}
/*img crop*/
.crop{
    height: 100%;
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
}
