@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@400;700&family=Gowun+Batang:wght@400;700&display=swap');

/*typography*/
.title {
    font-family: "Gaegu", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: regular;
    text-align: center;
    font-size: 5.61rem;
    color: var(--brown);
    }
.header {
    font-family: "Gowun Batang", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: regular;
    text-align: left;
    font-size:  2.369rem;
    color: var(--brown);
}
.body {
    font-family: "Gowun Batang", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: regular;
    text-align: left;
    font-size: 1rem;
    color: var(--brown);
}

.stars{
    color:var(--yellow);
    text-align: center;
}
/* colors */
:root{
--white:#fff;
--pink: #F7C7C7;
--green: #A0BD7F;
--brown: #7A5E5E;
--yellow: #EADB7E;

--highlight:var(--pink);
--stars: var(--yellow);

}


/*grid*/
.highlight{
    border-radius: 25px;
    background: #FFFDF6;
    padding: 1rem;
}
/*img crop*/
.crop{
    height: 100%;
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
}