@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Sono:wght@200..800&display=swap');

/*typography*/
.title {
    font-family: "DotGothic16", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: regular;
    text-align: center;
    font-size: 5.61rem;
    color: var(--pink);
    }
.header {
    font-family: "Sono", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: regular;
    text-align: left;
    font-size: 2.369rem;
    color: var(--pink);
}
.body {
    font-family: "Sono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: regular;
    text-align: left;
    font-size: 1rem;
    color: var(--pink);
}

.caption {
    font-family: "Sono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: regular;
    text-align: left;
    font-size: 1rem;
    color: var(--eggplant);
}

.stars{
    color:var(--yellow);
    text-align: center;
}
/* colors */
:root{
--white:#CBC9CC;
--pink: #FF7BD1;
--eggplant: #3E3F5F;
--purp: #F3DBFE;
--yellow: #EADB7E;

--highlight:var(--blue);
--stars: var(--yellow);

}


/*grid*/
.highlight{
    border-radius: 25px;
    background:var(--eggplant);
    padding: 1rem;
}
/*img crop*/
.crop{
    height: 100%;
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
}