@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Inconsolata:wght@200..900&display=swap');

/*typography*/
.title {
    font-family: "Bagel Fat One", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: regular;
    text-align: center;
    font-size: 5.61rem;
    color: var(--light-pink);
    }
.header {
    font-family: "Inconsolata", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: regular;
    text-align: left;
    font-size: 2.369rem;
    color: var(--light-pink);
}
.body {
    font-family: "Inconsolata", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: regular;
    text-align: left;
    font-size: 1rem;
    color: var(black);
}

.stars{
    color:var(--yellow);
    text-align: center;
}
/* colors */
:root{
--white:#fff;
--light-pink: #ff94c2;
--green: #c4eec8;
--highlight: #FFFDF6;
--yellow: #EADB7E;

--highlight:var(--highlight);
--stars: var(--yellow);

}


/*grid*/
.highlight{
    border-radius: 25px;
    background: #FFFDF6;
    padding: 1rem;
}

/*img crop*/
.crop{
    height: 100%;
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
}