body{
  padding: 0;
  margin: 0;
}
  
.draggable {
  width: auto; /* Set a default size for the images */
  height: auto;
  cursor: pointer;
  position: fixed;
}

.container{
  background-color: black;
  background-size: 100px, 100px;
  border-radius: 25px;
  padding: 1rem;
  position: absolute;
}