@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&family=Silkscreen:wght@400;700&display=swap&family=Dosis:wght@200..800&family=Send+Flowers&display=swap');


/* CSS Custom properties */

:root {
  /* Define Colors as colors */
  --black: #020303;
  --white: #fff;

  /* Define Colors intentions */
  --background: var(--white);
  --textColor: var(--black);
  --buttonTextColor: var(--black);
  --lineColor: var(--grey);
  --cardBg: var(--white);
  --headerBackground: var(--background-color);
  --footerBackground: var(--black);
  --textLink: var(--green)

  /* Styles */
  --line: solid 1px var(--lineColor);

  /* Spacing */
  --space-xxs:  4px;
  --space-xs:   8px;
  --space-sm:   12px;
  --space-md:   20px;
  --space-lg:   32px;
  --space-xl:   52px;
  --space-xxl:  84px;

  /* Typography */
  --hometitle: 'Silkscreen', serif;
  --homebody: 'Nova Mono', sans-serif;

  --baseFontSize: clamp(0.875rem, 0.7885rem + 0.3846vw, 1.25rem);

  --type-scale: 1.5;

  --xlText: calc(var(--lgText) * var(--type-scale));
  --lgText: calc(var(--mdText) * var(--type-scale));
  --mdText: calc(var(--baseText) * var(--type-scale));
  --xsText: calc(var(--smText) / var(--type-scale));
  --smText: calc(var(--baseText) / var(--type-scale));
  --baseText: var(--baseFontSize);


  /* Positioning */
  --containerPadding: 2.5%;
  --headerHeight: 3rem;
  --borderRadius: 10px;

}

main {
    width: 80vw;
    margin: 0 auto;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  header {
    color: var(--accent-color);
    left: 0;
    top: 0;
    width: 100%;
    height: var(--headerHeight);
    background: var(--headerBackground);
    box-shadow: var(--level-2);
    padding: 0 var(--containerPadding);
  }
  
  header nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 600px;
  }
  
  header nav a {
    color: var(--accent-color);
    text-decoration: none;
    padding:.5rem;
  
  }
  
  header nav a + a {
    margin-left: 10px;
  }

  .content-block {
    margin-top: var(--space-lg);
  }
  .hometitle {
    font-family: "Silkscreen", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: regular;
    font-size: 5.61rem;
    text-align: center;
    }
   .homebody {
      font-family: "Nova Mono", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: regular;
      font-size: 3.157rem;
      text-align: center;
      }
    .homecaption {
      font-family: "Nova Mono", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: regular;
      font-size: 1.333rem;
      text-align: center;
      }
     
    .subtitle {
      text-align: center;
      }
  footer {
    background: white;
    padding: 4rem var(--containerPadding);
    text-align: center;
  }
  
  .footertext {
    font-family: "Nova Mono", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: regular;
    text-align: center;
  }
  
  footer p {
    margin-bottom: 0;
    max-width: none;
  }

  .align-img{
    text-align: center;
  }
 
  /* wavy text 
  __________________________________________*/
  .text {
    margin-top: 5rem;
 }
 .text span {
    display: inline-block;
    animation: wave-text 1.4s ease-in-out infinite;
 }
 .text span:nth-child(1) {
    animation-delay: 0.0s;
 }
 .text span:nth-child(2) {
    animation-delay: 0.1s;
 }
 .text span:nth-child(3) {
    animation-delay: 0.2s;
 }
 .text span:nth-child(4) {
    animation-delay: 0.3s;
 }
 .text span:nth-child(5) {
    animation-delay: 0.4s;
 }
 .text span:nth-child(6) {
    animation-delay: 0.5s;
 }
 .text span:nth-child(7) {
    animation-delay: 0.6s;
 }
 .text span:nth-child(8) {
  animation-delay: 0.7s;
}
.text span:nth-child(9) {
  animation-delay: 0.8s;
}
.text span:nth-child(10) {
  animation-delay: 1s;
}
.text span:nth-child(11) {
  animation-delay: 1.1s;
}
.text span:nth-child(12) {
  animation-delay: 1.2s;
}
.text span:nth-child(13) {
  animation-delay: 1.3s;
}
.text span:nth-child(14) {
  animation-delay: 1.4s;
}
 @keyframes wave-text {
    0% {
       transform: translateY(0rem);
    }
    55% {
       transform: translateY(-1.5rem);
    }
    100% {
       transform: translateY(0rem);
    }
 }


 
  /* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.grid-container {
  position: relative;
  max-width: var(--max-width);
  margin: 0 auto;
  display: grid;
  grid-gap: 30px;
  gap: 15px;
  padding: 1rem;
  
  /* by default use min 200px wide columns auto-fit into width */
  grid-template-columns: minmax(200px, 1fr);
}
@media (min-width: 900px) {
	.grid-container {
		grid-template-columns: 1fr;
		padding: 5px 0;
	}
  /* basic grids */
  .grid-container.col-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .grid-container.col-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .grid-container.col-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid-container.col-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-container.col-2 {
    grid-template-columns: 1fr 1fr;
  }
  .brand-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .brand1 { grid-area: 1 / 1 / 2 / 2; }
    .brand2 { grid-area: 2 / 2 / 3 / 3; }
    .brand3 { grid-area: 1 / 3 / 2 / 4; }
    .brand4 { grid-area: 2 / 4 / 3 / 5; }

    .music-grid {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 5px;
      grid-row-gap: 5px;
      }
      
      .music1 { grid-area: 1 / 2 / 2 / 4; }
      .music2 { grid-area: 1 / 4 / 2 / 6; }
      .music3 { grid-area: 2 / 2 / 3 / 4; }
      .music4 { grid-area: 2 / 4 / 3 / 6; }

      .rating-grid {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 0px;
        padding: 2rem;
        }
        
        .rating-body { grid-area: 1 / 3 / 3 / 7; }
        .star-box { grid-area: 1 / 7 / 3 / 8; }

  }


/* The side navigation menu 
____________________________________________*/
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #ffffff; 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  transition: 0.3s;
}

.sidenav-menu{
  padding: 2rem;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* hover animation 
___________________________________________*/

.zoom-img {
  height:auto;
  overflow: visible;
}

.zoom-img  img {
  width: 100%;
  transition: all .3s ease-in-out;
}

.zoom-img img:hover   {
  transform: scale(1.2);
}

.zoom-img2 {
  height:auto;
  overflow: visible;
}

.zoom-img2  img {
  width: 100%;
  transition: all .3s ease-in-out;
}

.zoom-img2 img:hover   {
  transform: scale(1.02);
}

/* slideshow 
_____________________________________________*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* characteristics gallery 
____________________________________*/
div.scroll-container {
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
}

.img{
  max-width: 50%;
  height: auto;
}

.img-v{
  max-width: 25%;
  height: auto;
}

/* reponsive video */
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}